/* Comon styles for detail pages */
@use 'const';
@use 'util';

/* Basic styles */
/* Section titles */
h2 {

    #links &,
    #story & {
        display: none;
    }
}

#story {
    @include util.text-strip;
    @include util.text;

    article {
        @include util.margin-gap(2lh);
    }
}

body {
    /* Reset body gap and use padding instead of margin to suit background image */
    gap: 0;
}

main {
    @include util.transparent-background-image(--bg-img, var(--color-lvl-rgb), .1);
    padding: const.$full-width-vertical-margin const.$full-width-horizontal-margin;
}

@include util.heading-margins(1, 2);

/* Customizables */
/* Detail header
 *
 * Common header for detail pages
 *
 * $row-count:    integer -> number of rows
 * $row-title:    integer -> title row
 * $row-logo:     integer -> logo row
 * $row-abstract: integer -> abstract row
 */
@mixin header($row-count: 2, $row-title: 1, $row-abstract: 2) {
    display: grid;
    grid-template: repeat(calc($row-count), auto) / auto auto;

    h1 {
        grid-row: $row-title;
    }

    .logo {
        place-self: center right;
        @include util.size-graphic(9lh, auto);

        @media screen and (min-width: 701px) {
            grid-column: 2;
            grid-row: 1 / calc($row-count + 1);
        }

        @media screen and (max-width: 700px) {
            grid-row: $row-title;
        }
    }

    .abstract {
        grid-row: $row-abstract;
        margin-bottom: .5lh;
    }
}

/* Components */
/* Gallery
 *
 * A list of figures related to a detail.
 */
.gallery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: min(3vw, 3em);
    row-gap: 3em;

    @include util.shallow-li {
        flex: 1;
        max-width: max-content;
        min-width: 25ch;
    }

    figure {
        display: flex;
        flex-flow: column;
        max-width: min(26em, 100%);
    }

    iframe {
        background-color: white;
        width: fit-content;
        height: 100%;
        min-height: 13em;

        + figcaption {
            @include util.basic-border(1px 0 0 0);
        }
    }
}

/* Reference cite
 *
 * A reference citation link with a backlink.
 */
.ref-cite {
    text-decoration: none;
    @include util.iconed-text($underline: true);
}

/* Reference backlinck
 *
 * Leads back up to the reference link.
 */
.ref-backlink {
    vertical-align: top;
    user-select: none;
    font-size: .8em;
}

/* Link list
 *
 * A list of links for a detail.
 */
.list-link {
    gap: 1em;
    flex-wrap: wrap;

    a {
        @include util.button-link(1.5);
        @include util.iconed-text(middle, 2);
        display: block;
    }
}