@use 'const';

/* Utilities
 * 
 * Mixins that increase stylesheet expressivity.
 */
/* Super annotation
 *
 * An annotation as an exponent
 */
@mixin sup-annotation {
    align-self: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 1px;
    text-indent: initial;
    unicode-bidi: isolate;
    vertical-align: text-top;
}

/* Shallow list item
 *
 * Display contents on children <li>, inherit layout properties. Analogous to the HTML transparent content model.
 */
@mixin shallow-li {
    > li {
        display: contents;

        > * {
            padding: inherit;
            margin: inherit;
            border-radius: inherit;
            @content;
        }
    }
}

/* Gapped children
 *
 * Display flex, gap based on line height.
 */
@mixin gapped($factor: 1, $flex-direction: column, $flex-wrap: nowrap) {
    display: flex;
    flex-flow: $flex-direction $flex-wrap;
    gap: calc(1lh * $factor);
}

/* Justify
 *
 * Justify and hyphenate. Replaces `text-align: justify`.
 */
@mixin justify {
    text-align: justify;
    hyphens: auto;
}

/* Bring out
 *
 * Brings out the element by scaling it up.
 *
 * $factor: scale() argument -> scaling factor
 */
@mixin bring-out($factor) {
    @media (prefers-reduced-motion: no-preference) {
        transform: scale($factor);
    }
}

/* Basic border
 *
 * A basic border around the element. Color is foreground wih low opacity.
 *
 * $width: border-width value -> border width
 */
@mixin basic-border($width) {
    border-width: $width;
    border-style: solid;
    border-color: rgba(var(--color-fg-rgb), .15);
}

/* Accent color foreground
 *
 * Adapt the foreground colors for an accent color background
 */
@mixin color-accent-fg {
    color: var(--color-accent-fg);
    --color-fg: var(--color-accent-fg);
    --color-fg-rgb: var(--color-accent-fg-rgb);
}

/* Accent color background
 *
 * Set the background to the accent color and adapt the foreground color.
 *
 * $opacity: number [0..1] -> accent background color opacity
 */
@mixin color-accent-bg($opacity: 1) {
    @include color-accent-fg;
    background-color: rgba(var(--color-accent-rgb), $opacity);
}

/* Strip content
 *
 * Content spanning over the width of the entire parent element.
 *
 * $border-width: border-width value -> border width
 */
@mixin strip-content($border-width) {
    @include basic-border($border-width);
    background-color: var(--color-lvl);
    padding: 1em const.$full-width-horizontal-margin;
}

/* Absolue fill
 *
 * Position absolutely and fill all available space.
 */
@mixin absolute-fill {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Hover card 
 *
 * Represents an interactive card covered by an anchor.
 *
 * Alters the z-index of relevant elements to have them stand out above the link.
 */
@mixin hover-card {
    position: relative;

    /* Increase z-index to stand out above the card link */
    :is(.list-link, .list-rect) > li {
        z-index: 1;
    }

    .link,
    abbr {
        z-index: 1;
        /* Creates a stacking context */
        position: relative;
    }
}

/* Hover card target
 *
 * The anchor element of an hover card.
 */
@mixin hover-card-target {
    text-decoration: none;

    &:after {
        content: "";
        @include absolute-fill;
    }
}

/* Transparent background image
 *
 * Define a transparent background image.
 *
 * $varname-img: <image>                  -> the background image.
 * $color-rgb:   rgb() or rgba() argument -> the backging color (also used as a fallback if $varname-img is not defined)
 * $opacity:     real [0..1]              -> the opacity of the image
 * $origin:      <visual-box>             -> origin of the background image layer
 *
 * As sometimes the gradient is a little bit smaller than the image, the origin of the color background layer is set to `border-box` as a workaround.
 *
 * Todo: fix background color transition. Currently: instant. Expected: transition-duration
 */
@mixin transparent-background-image($varname-img, $color-rgb, $opacity, $origin: padding-box) {
    $color: rgba($color-rgb, calc(1 - $opacity));
    $gradient: linear-gradient($color, $color);
    background:
        border-box $gradient,
        $origin var($varname-img, rgb($color-rgb)) no-repeat;
    background-size: cover;
}

/* Absolute center
 *
 * Position absolutely and center in parent, horizontally and vertically.
 */
@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Horizontal box
 *
 * Appropriate padding and radius for an horizontal box.
 *
 * $padding-factor:       number -> padding multiplier
 * $border-radius-factor: number -> border radius multiplier
 */
@mixin horizontal-box($padding-factor: 1, $border-radius-factor: 1) {
    padding: calc($padding-factor * .25lh) calc($padding-factor * 1ch);
    border-radius: calc($border-radius-factor * .25lh);
}

/* Size graphic
 *
 * Size the graphic accordingly.
 *
 * $height:     height value     -> children graphics height
 * $width:      width value      -> children graphics width
 * $object-fit: object-fit value -> children graphics object-fit
 */
@mixin size-graphic($height, $width, $object-fit: contain) {
    max-width: 100%;
    max-height: 100%;
    height: $height;
    width: $width;
    object-fit: $object-fit;
}

/* Gray when not hover 
 *
 * The element is grayed out when it is not hovered.
 */
.gray-when-not-hover:not(#{const.$hover}) {
    filter: grayscale(100%);
    opacity: .5;
}

/* Home nav link
 *
 * The link to the homepage in the navbar.
 */
@mixin nav-home-link {
    font-size: 1.75em;
    font-weight: 500;
    width: fit-content;
}

/* Button link
 *
 * A link that looks like a button.
 */
@mixin button-link($padding-factor: 1) {
    @include horizontal-box($padding-factor);
    @include basic-border(1px);
    background-color: var(--color-lvl);

    &#{const.$hover} {
        @include bring-out(1.05);
        @include color-accent-bg;
    }
}

/* Iconed text
 *
 * An element containing a graphic that is sized to the neighbouring text.
 */
@mixin iconed-text($factor: 1, $underline: false) {
    #{const.$graphic} {
        height: calc(1em * $factor);
        width: auto;
        margin-right: calc(.5ch * $factor);
    }

    * {
        vertical-align: text-bottom;
    }

    @if $underline {
        &#{const.$hover} * {
            text-decoration: underline;
        }
    }
}

/* Card link list
 *
 * A .list-link styled specifically for being displayed inside a detail card
 */
@mixin link-list-card {
    gap: .5em;
    flex-direction: row-reverse;
    align-items: flex-end;

    > #{const.$hover} {
        @include bring-out(1.15);
    }

    #{const.$graphic} {
        @include size-graphic(1.5em, 1.5em);
    }
}

/* Detail card list
 *
 * Common styles for detail card lists.
 */
@mixin list-detail {
    gap: 1em;
    list-style: none;

    > li {
        @include basic-border(1px);
        @include hover-card;

        &#{const.$hover} {

            /* Since links will have the same color as other text now, always underline them to still differenciate them from regular text. */
            .link {
                color: var(--color-fg);
                text-decoration: underline;
            }
        }

        h3 a {
            @include hover-card-target;
        }
    }
}

/* Wraps anywhere on overflow and shows hyphens when words are cut */
@mixin wrap-anywhere {
    overflow-wrap: anywhere;
    hyphens: auto;
}

/* Emulates the gap property using margins */
@mixin margin-gap($margin-top, $margin-bottom: $margin-top) {
    &:not(:first-child) {
        margin-top: $margin-top;
    }

    &:not(:last-child) {
        margin-bottom: $margin-bottom;
    }
}

/* Heading margins */
@mixin heading-margins($min-level: 1, $max-level: 6) {
    @for $i from $min-level through $max-level {
        h#{$i} {
            @include margin-gap(const.$heading-margin);
        }
    }
}

/* Text
 *
 * Textual content. Applied to a container.
*/
@mixin text {
    @include heading-margins;

    p {
        @include justify;
    }

    :is(p,
        .figure,
        pre):not(.figure *) {
        @include margin-gap(const.$p-margin);
    }
}

/* Cols
 *
 * Line-sized columns on the element
 */
@mixin cols {
    max-width: 100%;
    column-width: const.$max-line-length;

    > * {
        max-width: const.$max-line-length;
    }
}

/* Text strip
 *
 * Place in the center and limit width to max line length
 */

 @mixin text-strip {
    width: const.$max-line-length;
    margin-left: auto;
    margin-right: auto;
 }