/* Base stylesheet */

:root {
    font-family: Roboto, system-ui;
    --color-bg: #eee;
    --color-lvl1: #ddd;
    --color-lvl2: #ccc;
    --color-lvl3: #bbb;
    --color-fg: #111;
    --color-accent: #a66144;
    --huge-val: calc(infinity * 1px);
    --transition-duration-change-theme: .333s;

    color: var(--color-fg);
    background-color: var(--color-bg);

    font-size: 24px;
}

* {
    transition:
        background-color var(--transition-duration-change-theme) ease,
        color var(--transition-duration-change-theme) ease;
}

[data-theme="dark"] {
    --color-bg: #111;
    --color-lvl1: #222;
    --color-lvl2: #333;
    --color-lvl3: #444;
    --color-fg: #eee;
}

svg {
    fill: var(--color-fg);
    transition: fill var(--transition-duration-change-theme) ease;
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
}

h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

/* Header */
    header {
        background-color: var(--color-lvl1);
        padding: 25px 60px 25px 60px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    header nav {
        margin-right: auto;
    }

    header ul {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
    }
    
    header nav ul {
        align-items: baseline;
        font-weight: 500;
        margin-right: auto;
    }

    header nav ul li:first-child, header > ul {
        margin-right: 60px;
    }

    header > ul li {
        margin-right: 10px;
    }

    header nav ul li {
        margin-right: 40px;
    }

    /* Theme switch */
        .theme-switch-wrapper {
            display: flex;
            align-items: center;
        }

        .theme-switch {
            display: inline-block;
            height: 30px;
            position: relative;
            width: 80px;
        }
        
        .theme-switch input {
            display:none;
        }
        
        .slider {
            background-color: var(--color-lvl3);
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: var(--transition-duration-change-theme);
            margin: 0 10px;
        }
        
        .slider:before {
            background-color: var(--color-bg);
            bottom: 4px;
            content: "";
            height: 22px;
            left: 4px;
            position: absolute;
            transition: var(--transition-duration-change-theme);
            width: 22px;
        }
        
        input:checked + .slider {
            background-color: var(--color-accent);
        }
        
        input:checked + .slider:before {
            transform: translateX(30px);
        }
        
        .slider.round {
            border-radius: var(--huge-val);
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        
        