/* Base stylesheet */
@media (prefers-reduced-motion) {

    /* styles to apply if a user's device settings are set to reduced motion */
    @mixin bring-out($factor) {}
}

@mixin bring-out($factor) {
    transform: scale($factor);
}

:root {
    font-family: Roboto, system-ui;
    /* Workaround until relative colors get widespread support */
    --color-bg-rgb: 238, 238, 238;
    --color-fg-rgb: 17, 17, 17;
    --color-lvl1-rgb: 221, 221, 221;
    --color-lvl2-rgb: 204, 204, 204;
    --color-lvl3-rgb: 187, 187, 187;
    --color-bg: rgb(var(--color-bg-rgb));
    --color-fg: rgb(var(--color-fg-rgb));
    --color-lvl1: rgb(var(--color-lvl1-rgb));
    --color-lvl2: rgb(var(--color-lvl2-rgb));
    --color-lvl3: rgb(var(--color-lvl3-rgb));
    --basic-border: solid rgba(var(--color-fg-rgb), .125);
    --huge-val: calc(infinity * 1px);
    --transition: calc(1s / 3) ease;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-size: 20.57px;
    --distance-1: 60px;
    --distance-2: 40px;
    --distance-3: 25px;
    --distance-4: 15px;
}

@mixin color-accent {
    background-color: #a66144;
    color: white;
}

* {
    transition:
        background-color var(--transition),
        color var(--transition),
        transform var(--transition),
        opacity var(--transition),
        fill var(--transition),
        filter var(--transition);
    box-sizing: border-box;
}

[data-theme="dark"] {
    --color-bg-rgb: 17, 17, 17;
    --color-fg-rgb: 238, 238, 238;
    --color-lvl1-rgb: 34, 34, 34;
    --color-lvl2-rgb: 51, 51, 51;
    --color-lvl3-rgb: 68, 68, 68;
}

/* Opt-in styling : link colors */
.link:link {
    color: #a66144;
}

.link:visited {
    color: #91553b;
}

.link:hover {
    color: #be7c60;
}

a {
    text-decoration: none;
}

a:not(.link) {
    color: inherit;
}

svg.themed-fill {
    fill: var(--color-fg);
}

small {
    color: rgba(var(--color-fg-rgb), .5)
}

body,
h1,
h2,
h3,
h4,
ul,
p,
figure {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    width: fit-content;
}

h2 {
    font-size: 28.8px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

img,
svg {
    vertical-align: middle;
}

main {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
}

/* Borders */
header,
footer,
section {
    border: 0 var(--basic-border);
    background-color: var(--color-lvl1);
    padding: 1em 2em;
}

section,
footer {
    border-top-width: 1px;
}

section,
header {
    border-bottom-width: 1px;
}

section h2 {
    text-align: center;
}

@mixin absolute-fill {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@mixin hover-card {
    position: relative;
}

@mixin hover-card-target {
    &:after {
        @include absolute-fill;
    }
}

@mixin transparent-background-image($img, $color, $opacity) {
    position: relative;

    &:before {
        @include absolute-fill;
        display: block;
        background: $img no-repeat $color;
        background-size: cover;
        opacity: $opacity;
    }
}

@mixin absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-box-padding($factor: 1) {
    padding: calc($factor * .25lh) calc($factor * 1ch);
}

a > svg:hover,
a > svg:focus-within {
    @include bring-out(1.15);
}

footer {
    position: relative;

    p:has(small) {
        position: absolute;
        @include absolute-center;
    }

    p:has(svg) {
        text-align: right;
    }
}

header {
    align-items: center;
    background-color: var(--color-lvl1);
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-between;

    .list-flags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: .5em
    }

    /* Theme switch */
    .theme-switch-wrapper {
        display: flex;
        align-items: center;

        .theme-switch {
            display: inline-block;
            height: 1.5em;
            position: relative;
            width: 4em;

            input {
                display: none;
            }
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 3em;
        row-gap: 1.5em;

        @mixin nav-link {

            &:hover,
            &:focus-within,
            &[href="#"] {
                text-decoration: underline;
            }
        }

        > ul {
            display: flex;
            list-style-type: none;
            column-gap: 2em;
            row-gap: 1em;
            flex-wrap: wrap;

            a {
                font-size: 24px;
            }
        }

        a {
            @include nav-link;
        }
    }

    .slider {
        background-color: var(--color-lvl3);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: var(--transition);
        margin: 0 .5em;

        &:before {
            background-color: var(--color-bg);
            bottom: 4px;
            content: "";
            height: 22px;
            left: 4px;
            position: absolute;
            transition: var(--transition);
            width: 22px;
        }

        &.round {
            border-radius: var(--huge-val);

            &:before {
                border-radius: 50%;
            }
        }
    }

    input:checked + .slider {
        @include color-accent;

        &:before {
            transform: translateX(30px);
        }
    }
}

.content-block {
    border-radius: 1em;
    background-color: var(--color-lvl1);
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 32em;

    h2 {
        margin-bottom: .5em;
    }
}

@mixin hover-sensitive-list($factor) {
    > li {

        &:hover,
        &:focus-within {
            @include bring-out($factor);
            z-index: 1;
        }
    }
}

.hover-sensitive-list {
    @include hover-sensitive-list(1.05);
}

.gray-when-not-hover:not(:hover, :focus-within) {
    filter: grayscale(100%);
    opacity: .5;
}

.list-projects > li {
    @include hover-card;
    @include transparent-background-image(var(--bg-img), var(--color-lvl2), .1);
    list-style-type: none;
    display: flex;
    border: 1px var(--basic-border);
    display: grid;
    grid-template: repeat(5, auto) / auto min-content;
    row-gap: .5em;
    border-radius: .75em;
    padding: .75em;
    width: 18em;
    /* Required to clip the :before pseudo-element to the card's boundaries */
    overflow: hidden;

    h3 > a {
        @include hover-card-target;
    }

    small {
        font-style: italic
    }

    .list-tags {
        @include hover-sensitive-list(1.15);
        list-style-type: none;
        display: flex;
        grid-row: 1;
        grid-column: 1;
        gap: .75em;

        > li {
            @include color-accent;
            @include horizontal-box-padding(.75);
            font-size: 18px;
            border-radius: .4em;
            z-index: 1;
        }
    }

    h3 {
        grid-row: 2;
        grid-column: 1;
        margin: .5em 0;
    }

    .status {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    .abstract {
        grid-row: 4;
        grid-column: 1 / 3;
    }

    .logo {
        grid-row: 1 / 3;
        grid-column: 2;
        object-fit: contain;
        height: 4em;
    }

    .list-anchors {
        @include hover-sensitive-list(1.15);
        list-style-type: none;
        display: flex;
        grid-row: 5;
        grid-column: 1 / 3;
        flex-grow: 1;
        flex-direction: row-reverse;
        align-items: flex-end;

        > li {
            z-index: 1;
        }
    }

    &:hover,
    &:focus-within {
        @include color-accent;

        > ul:first-of-type > li {
            background-color: var(--color-lvl2);
        }
    }
}

:has(> .definition-tooltip) {
    position: relative;
}

.definition-tooltip-trigger {
    cursor: pointer;
    font-style: italic;
}

a.definition-tooltip-trigger {
    text-decoration: none;
}

.definition-tooltip {
    @include transparent-background-image(var(--bg-img), var(--color-lvl2), .25);
    grid-template: 1fr auto / repeat(2, auto) 1fr;
    display: grid;
    font-size: .75em;
    border-radius: .75em;
    position: absolute;
    bottom: 1.5rem;
    max-width: 50ch;
    padding: .75em;
    background-color: var(--color-lvl2);
    visibility: hidden;
    opacity: 0;

    > img,
    > svg {
        grid-row: 1 / 3;
        grid-column: 2;
        margin-left: auto;
    }

    > p:nth-last-child(2) {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    > p:nth-last-child(1) {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    /* Add the new arrow pseudo-element */
    &:after {
        content: "";
        position: absolute;
        bottom: -.5em;
        left: 1em;
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
        border-top: .5em solid var(--color-lvl2);
    }
}

.definition-tooltip-visible {
    visibility: visible;
    opacity: 1;
}