@media (prefers-reduced-motion) {

    /* styles to apply if a user's device settings are set to reduced motion */
    @mixin bring-out($factor) {}
}

@mixin bring-out($factor) {
    transform: scale($factor);
}

$huge-val: calc(infinity * 1px);

@mixin basic-border($width) {
    border-width: $width;
    border-style: solid;
    border-color: rgba(var(--color-fg-rgb), .125);
}

:root {
    font-family: Roboto, system-ui;
    /* Workaround until relative colors get widespread support */
    --color-accent-bg-rgb: 166, 97, 68;
    --color-bg-rgb: 238, 238, 238;
    --color-fg-rgb: 17, 17, 17;
    --color-lvl1-rgb: 221, 221, 221;
    --color-lvl2-rgb: 204, 204, 204;
    --color-lvl3-rgb: 187, 187, 187;
    --color-bg: rgb(var(--color-bg-rgb));
    --color-fg: rgb(var(--color-fg-rgb));
    --color-lvl1: rgb(var(--color-lvl1-rgb));
    --color-lvl2: rgb(var(--color-lvl2-rgb));
    --color-lvl3: rgb(var(--color-lvl3-rgb));
    --color-accent-bg: rgb(var(--color-accent-bg-rgb));
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-size: 20.57px;
    scroll-behavior: smooth;
}

* {
    $t: calc(1s / 3);
    transition:
        background-color $t,
        color $t,
        transform $t,
        opacity $t,
        fill $t,
        stroke $t,
        filter $t;
    box-sizing: border-box;
}

@mixin theme-dark {
    --color-bg-rgb: 17, 17, 17;
    --color-fg-rgb: 238, 238, 238;
    --color-lvl1-rgb: 34, 34, 34;
    --color-lvl2-rgb: 51, 51, 51;
    --color-lvl3-rgb: 68, 68, 68;
}

:root[data-theme="dark"] {
    @include theme-dark;
}

@media (prefers-color-scheme: dark) {
    :root[data-theme="system"] {
        @include theme-dark;
    }
}

@mixin color-accent-fg {
    color: white;
    --color-fg: white;
    --color-fg-rgb: 255, 255, 255;
}

@mixin color-accent($opacity: 1) {
    @include color-accent-fg;
    background-color: var(--color-accent-bg);
}

@function hover($prefix: '') {
    @return "#{$prefix}:hover, #{$prefix}:focus-within, #{$prefix}:active";
}

/* An icon sized to the text next to it */
.text-icon {
    display: inline-block;
    height: 1cap;
    width: auto;
    margin-right: .5ch;
    vertical-align: baseline;
}

.content-block {
    border-radius: 1em;
    background-color: var(--color-lvl1);
    padding: 1em;
    align-self: center;
    max-width: min(100vw, 80ch);

    h2 {
        margin-bottom: .5em;
    }
}

.fi {
    color: transparent;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
figure,
input {
    margin: 0;
    padding: 0;
}

small {
    color: rgba(var(--color-fg-rgb), .5)
}

p {
    line-height: calc(1ex / .32);
    max-width: 60ch;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    width: fit-content;
}

h2 {
    font-size: 28.8px;
    font-weight: 500;
}

h3 {
    font-size: 26.4px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

img,
svg {
    vertical-align: middle;
}

body {
    max-width: 100vw;
    display: grid;
    gap: 3em;
    grid-template-rows: auto 1fr auto;

    > * {
        max-width: inherit;
    }
}

@mixin lvl1-content($border-width) {
    @include basic-border($border-width);
    background-color: var(--color-lvl1);
    padding: 1em 2em;
}

@mixin absolute-fill {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@mixin hover-card {
    position: relative;
}

@mixin hover-card-target {
    text-decoration: none;

    &:after {
        @include absolute-fill;
    }
}


@mixin transparent-background-image($varname-img, $color-rgb, $opacity) {
    $color: rgba($color-rgb, calc(1 - $opacity));
    $gradient: linear-gradient($color, $color);
    /* sometimes the gradient is a little bit smaller than the image. origin border-box as a hack. */
    background:
        border-box $gradient,
        var($varname-img, rgb($color-rgb)) no-repeat;
    background-size: cover;
}

@mixin absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-box-padding($factor: 1) {
    padding: calc($factor * .25lh) calc($factor * 1ch);
}

@mixin size-images($height, $width, $object-fit: contain) {

    svg,
    img {
        height: $height;
        width: $width;
        object-fit: $object-fit;
    }
}

/* Opt-in styling : link colors */
.link:link {
    color: #a66144;
}

.link:visited {
    color: #91553b;
}

#{hover('.link')} {
    color: #be7c60;
}

a:not(#{hover()}) {
    text-decoration: none;
}

a:not(.link, .fi) {
    color: inherit;
}

/* Opt-in styling : figures */
.figure {
    @include basic-border(1px);
    background-color: var(--color-lvl1);
    max-width: calc(100vw / 3);

    > figcaption {
        @include horizontal-box-padding(2.5);
        text-align: center;
    }

    > :not(figcaption) {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }
}

body > header {
    @include lvl1-content(0 0 1px 0);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-between;
    height: fit-content;

    .list-flags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: .5em
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 3em;
        row-gap: 1.5em;

        > ul {
            display: flex;
            list-style-type: none;
            column-gap: 2em;
            row-gap: 1em;
            flex-wrap: wrap;

            a {
                font-size: 24px;
            }
        }

        a[href="#"] {
            text-decoration: underline;
        }
    }
}

main {
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

body > footer {
    @include lvl1-content(1px 0 0 0);
    border-top-width: 1px;
    grid-row: 3;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
        @media screen and (min-width: 570px) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    #{hover('a > svg')} {
        @include bring-out(1.15);
    }
}

section h2 {
    text-align: center;
}

.theme-switches {
    display: flex;
    border-radius: .25em;
    @include basic-border(1px);

    input {
        @include absolute-fill();
        opacity: 0;
    }

    label {
        position: relative;
        padding: .25em;
        width: 2em;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-of-type {
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        &:first-of-type {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        &:has(#{hover(input)}) {
            @include color-accent(.5);
        }

        &:has(input:checked) {
            @include color-accent;
        }

        + label {
            @include basic-border(0 0 0 1px);
        }

        input {
            cursor: pointer;
        }
    }
}

@mixin hover-sensitive-list($factor) {

    #{hover('> li')},
    /* class used in JS */
    > li.hover {
        @include bring-out($factor);
        z-index: 1;
    }
}

.hover-sensitive-list {
    @include hover-sensitive-list(1.05);
}

.gray-when-not-hover:not(#{hover()}) {
    filter: grayscale(100%);
    opacity: .5;
}

.button-link {
    @include horizontal-box-padding(2);
    display: block;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--color-lvl2);
    border-radius: .5em;

    #{hover('&')} {
        @include bring-out(1.05);
        @include color-accent;
    }
}

.list-tag {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;

    > * {
        @include horizontal-box-padding(.75);
        font-size: 18px;
        border-radius: .4em;
    }
}

.list-anchor {
    @include hover-sensitive-list(1.15);
    list-style-type: none;
    display: flex;
}

.list-project {
    gap: 1em;
    display: flex;
    flex-flow: row wrap;

    /* Increase z-index to stand out above the card link */
    :is(.list-anchor, .list-tag) > li {
        z-index: 1;
    }

    .link, abbr {
        display: inline-block;
        scale: 1; /* Creates a stacking context */
        z-index: 1;
    }

    .list-anchor {
        gap: .5em;
        @include size-images(1.5em, 1.5em);
    }

    > li {
        @include hover-card;
        @include transparent-background-image(--bg-img, var(--color-lvl2-rgb), .15);
        list-style-type: none;
        @include basic-border(1px);
        display: grid;
        grid-template: min-content repeat(4, auto) min-content / 1fr auto;
        row-gap: .5em;
        border-radius: .75em;
        padding: .75em;
        width: 20em;
        /* Required to clip the :before pseudo-element to the card's boundaries */
        overflow: hidden;

        .list-tag {
            @include hover-sensitive-list(1.15);
            grid-column: 1 / 3;

            > li {
                @include color-accent;
            }
        }

        h3 > a {
            @include hover-card-target;
        }

        .logo {
            grid-row: 2/6;
            grid-column: 2;
            height: 4lh;
            width: auto;
            max-width: 25ch;
            object-fit: contain;
            margin: auto 0;
        }

        h3 {
            grid-row: 2;
        }

        .context {
            grid-row: 3;
        }

        .status {
            grid-row: 4;
        }

        .abstract {
            grid-row: 5;
        }

        .list-anchor {
            grid-row: 6;
            grid-column: 1 / 3;
            flex-direction: row-reverse;
            align-items: flex-end;
        }

        #{hover('&')} {
            @include transparent-background-image(--bg-img, var(--color-accent-bg-rgb), .1);

            .list-tag > li {
                background-color: var(--color-lvl2);
            }

            :not(.list-tag > li) {
                @include color-accent-fg;
            }

            .link {
                text-decoration: underline;
            }
        }
    }
}

:has(> .definition-tooltip) {
    position: relative;
}

.definition-tooltip-trigger {
    cursor: pointer;
    font-style: italic;
}

.definition-tooltip {
    $arrow-width: 3em;
    $arrow-height: 1lh;
    $padding: .75em;
    @include transparent-background-image(--bg-img-definition, var(--color-lvl2-rgb), .1);
    grid-template: 1fr 1fr auto / 1fr auto;
    display: grid;
    font-size: .8em;
    border-radius: $padding;
    position: absolute;
    bottom: 100%;
    width: max-content;
    padding: $padding;
    background-color: var(--color-lvl2);
    visibility: hidden;
    opacity: 0;
    padding-bottom: calc($padding + $arrow-height);
    clip-path: polygon(50% 0%, 100% 0, 100% calc(100% - $arrow-height), $arrow-width calc(100% - $arrow-height), calc($arrow-width / 2) 100%, 0 calc(100% - $arrow-height), 0 0);
    @include size-images(2.5lh, auto);

    > img,
    > svg {
        grid-row: 1 / 3;
        grid-column: 2;
    }

    > p:nth-last-child(2) {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    > p:nth-last-child(1) {
        grid-row: 3;
        grid-column: 1 / 3;
    }
}

.definition-tooltip-visible,
.definition-tooltip-examining {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition-delay: 500ms;
}