@use 'base';

main {
    margin: 0 base.$full-width-horizontal-margin;
}

#resultat-pour-moi ul {
    padding-left: 2em;
}

@mixin content-and-image {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

#titre {
    @include content-and-image;
}

#presentation {
    @include base.justify;
    column-width: base.$max-line-length;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#competences > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: base.$full-width-vertical-margin;

    > li {
        @include base.transparent-background-image(--bg-img, var(--color-lvl-rgb), .1);
        padding: 1.5em;
        border-radius: 1.5em;
    }
}

#resultat-pour-moi {
    @include content-and-image;

    figure {
        $border-radius: 1em;
        border-radius: $border-radius;

        img {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }

    article,
    div {
        @include base.gapped;
    }

    li {
        max-width: base.$max-line-length;
    }
}