@use 'base';
@use 'const';
@use 'util';
@include util.heading-margins(2, 3);

main {
    margin: 0 const.$full-width-horizontal-margin;
}

@mixin content-and-image {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

:is(#presentation, #resultat-pour-moi) h2 {
    display: none;
}

#titre {
    @include content-and-image;
}

#presentation {
    @include util.text;

    div {
        @include util.cols;
    }
}

#competences {
    p:not(.list-project *) {
        @include util.margin-gap(const.$p-margin);
    }

    > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: const.$full-width-vertical-margin;

        > li {
            @include util.transparent-background-image(--bg-img, var(--color-lvl-rgb), .1);
            padding: 1.5em;
            border-radius: 1.5em;
        }
    }
}

:has(> #resultat-pour-moi) {
    @include content-and-image;

    figure {
        $border-radius: 1em;
        border-radius: $border-radius;

        img {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }

    #resultat-pour-moi {
        @include util.text;
        @include util.gapped(1.5);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: .5lh;
        padding-left: 2em;
    }

    li {
        max-width: const.$max-line-length;
    }
}