@charset "UTF-8";
@property --bg-img {
  syntax: "*";
  inherits: false;
}
:root {
  font-family: Roboto, system-ui;
  /* Workaround until relative colors get widespread support */
  --color-accent-bg-rgb: 166, 97, 68;
  --color-bg-rgb: 238, 238, 238;
  --color-fg-rgb: 17, 17, 17;
  --color-lvl1-rgb: 221, 221, 221;
  --color-lvl2-rgb: 204, 204, 204;
  --color-lvl3-rgb: 187, 187, 187;
  --color-bg: rgb(var(--color-bg-rgb));
  --color-fg: rgb(var(--color-fg-rgb));
  --color-lvl1: rgb(var(--color-lvl1-rgb));
  --color-lvl2: rgb(var(--color-lvl2-rgb));
  --color-lvl3: rgb(var(--color-lvl3-rgb));
  --color-accent-bg: rgb(var(--color-accent-bg-rgb));
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-color: gray transparent;
}

:root[data-theme=dark] {
  --color-bg-rgb: 17, 17, 17;
  --color-fg-rgb: 238, 238, 238;
  --color-lvl1-rgb: 34, 34, 34;
  --color-lvl2-rgb: 51, 51, 51;
  --color-lvl3-rgb: 68, 68, 68;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    --color-bg-rgb: 17, 17, 17;
    --color-fg-rgb: 238, 238, 238;
    --color-lvl1-rgb: 34, 34, 34;
    --color-lvl2-rgb: 51, 51, 51;
    --color-lvl3-rgb: 68, 68, 68;
  }
}
* {
  box-sizing: border-box;
  transition-duration: 0.3333333333s;
  transition-property: background-color, background-attachment, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, -webkit-background-clip, -webkit-text-decoration;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, text-decoration;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, text-decoration, -webkit-background-clip, -webkit-text-decoration;
}

/* Blink issue: transitions stack (children wait for parents before doing their own transition) */
/* Solution: apply all transitions only to leaf elements */
:not(:has(*)) {
  transition-property: background-color, background-attachment, background-image, background-origin, background-position, background-repeat, background-size, color, transform, opacity, fill, stroke, filter, -webkit-background-clip, -webkit-text-decoration;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, color, transform, opacity, fill, stroke, filter, text-decoration;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, color, transform, opacity, fill, stroke, filter, text-decoration, -webkit-background-clip, -webkit-text-decoration;
}

.iconed-text :is(img, svg):first-child {
  height: 1em;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5ch;
}

.content-block {
  border-radius: 1.5em;
  background-color: var(--color-lvl1);
  padding: 1.5em;
  align-self: center;
  max-width: 100%;
}
.content-block h2 {
  margin-bottom: 0.5em;
}

.fi {
  color: transparent;
}

body,
h1,
h2,
h3,
h4,
ul,
ol,
p,
figure,
input,
samp,
code,
kbd,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

blockquote {
  padding-left: calc(1em - 0.3090169944ch);
  margin-left: calc(min(1vw, 1em) - 0.3090169944ch);
  width: -moz-fit-content;
  width: fit-content;
  border-left: 0.6180339887ch solid var(--color-lvl2);
}
blockquote footer {
  text-align: right;
}

:not(pre) > :is(code, samp, kbd) {
  background-color: var(--color-lvl2);
  padding: 0.1lh 0.4ch;
  border-radius: 0.25lh;
}

pre {
  background-color: var(--color-lvl2);
  padding: 0.5lh 2ch;
  border-radius: 0.25lh;
}

small {
  color: rgba(var(--color-fg-rgb), 0.5);
}

p {
  line-height: 3.125ex;
  max-width: 60ch;
}

.text p:first-of-type:not(:last-of-type),
p.text:first-of-type:not(:last-of-type) {
  text-indent: 2cap;
}

p.text {
  margin: 3.125ex 0;
}

.text p:not(:first-child) {
  margin-top: 3.125ex;
}
.text p:not(:last-child) {
  margin-bottom: 3.125ex;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  line-height: 2.380952381ex;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2.6315789474ex;
  margin-bottom: 1lh;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 2.7027027027ex;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 2.5lh;
  grid-template-rows: auto 1fr auto;
}
body > * {
  max-width: inherit;
}

a:not(:is(:hover, :focus-within, :focus)) {
  text-decoration: none;
}

a:not(.link, .fi) {
  color: inherit;
}

/* Opt-in styling: link colors */
.link:link {
  color: #a66144;
}

.link:visited {
  color: #91553b;
}

.link:is(:hover, :focus-within, :focus) {
  color: #be7c60;
}

.link[target=_blank]:after {
  align-self: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 1px;
  text-indent: initial;
  unicode-bidi: isolate;
  vertical-align: text-top;
  content: "🡭";
  display: inline-block;
  font-size: 0.4em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Opt-in styling: figures */
.figure {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl1);
  max-width: min(100%, 26em);
}
.figure > figcaption {
  padding: 0.625lh 2.5ch;
  border-radius: 0.3125lh;
  text-align: center;
}
.figure > :not(figcaption) {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body > header {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl1);
  padding: 1em min(2.5vw, 2.5lh);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 1em;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
body > header .list-flags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
body > header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  -moz-column-gap: 3em;
       column-gap: 3em;
  row-gap: 1.5em;
}
body > header nav > a {
  font-size: 1.75em;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
}
body > header nav > ul {
  display: flex;
  list-style-type: none;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 1em;
  flex-wrap: wrap;
}
body > header nav > ul a {
  font-size: 1.25em;
}
body > header nav a[href="#"] {
  text-decoration: underline;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5lh;
}

body > footer {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl1);
  padding: 1em min(2.5vw, 2.5lh);
  grid-row: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 570px) {
  body > footer small {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
body > footer a > :is(img, svg):is(:hover, :focus-within, :focus) {
  transform: scale(1.15);
}
@media (prefers-reduced-motion: reduce) {
  body > footer a > :is(img, svg):is(:hover, :focus-within, :focus) {
    transform: none;
  }
}

.theme-switches {
  display: flex;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
}
.theme-switches input {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.theme-switches label {
  position: relative;
  padding: 0.25em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switches label:last-of-type {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.theme-switches label:first-of-type {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.theme-switches label:has(input:is(:hover, :focus-within, :focus)) {
  color: white;
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-bg-rgb), 0.5);
}
.theme-switches label:has(input:checked) {
  color: white;
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-bg-rgb), 1);
}
.theme-switches label + label {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
}
.theme-switches label input {
  cursor: pointer;
}

.gray-when-not-hover:not(:is(:hover, :focus-within, :focus)) {
  filter: grayscale(100%);
  opacity: 0.5;
}

.button-link {
  padding: 0.5lh 2ch;
  border-radius: 0.25lh;
  background-color: var(--color-lvl2);
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.button-link:is(:hover, :focus-within, :focus) {
  transform: scale(1.05);
  color: white;
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-bg-rgb), 1);
}
@media (prefers-reduced-motion: reduce) {
  .button-link:is(:hover, :focus-within, :focus) {
    transform: none;
  }
}
.button-link:is(:hover, :focus-within, :focus) :link {
  text-decoration: none;
}

.list-rect {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.list-rect > li {
  padding: 0.175lh 0.7ch;
  border-radius: 0.4lh;
  font-size: 0.9em;
}

.list-link {
  display: flex;
  list-style-type: none;
}

.list-project {
  gap: 1em;
  display: flex;
  flex-flow: row wrap;
  /* Increase z-index to stand out above the card link */
}
.list-project :is(.list-link, .list-rect) > li {
  z-index: 1;
}
.list-project .link,
.list-project abbr {
  z-index: 1;
  /* Creates a stacking context */
  position: relative;
}
.list-project > li {
  position: relative;
  /* sometimes the gradient is a little bit smaller than the image. origin border-box as a hack. */
  background: border-box linear-gradient(rgba(var(--color-lvl2-rgb), 0.85), rgba(var(--color-lvl2-rgb), 0.85)), padding-box var(--bg-img-project, rgb(var(--color-lvl2-rgb))) no-repeat;
  background-size: cover;
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  display: grid;
  grid-template: min-content repeat(4, auto) min-content/1fr auto;
  row-gap: 0.5em;
  border-radius: 0.75em;
  padding: 0.75em;
  width: 20em;
  /* Required to clip the :before pseudo-element to the card's boundaries */
  overflow: hidden;
}
.list-project > li .list-rect {
  grid-column: 1/3;
}
.list-project > li .list-rect > :is(:hover, :focus-within, :focus) {
  transform: scale(1.15);
  z-index: 1;
}
@media (prefers-reduced-motion: reduce) {
  .list-project > li .list-rect > :is(:hover, :focus-within, :focus) {
    transform: none;
  }
}
.list-project > li h3 > a {
  text-decoration: none;
}
.list-project > li h3 > a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.list-project > li .logo {
  grid-row: 2/6;
  grid-column: 2;
  height: 4lh;
  width: auto;
  max-width: 25ch;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto 0;
}
.list-project > li h3 {
  grid-row: 2;
}
.list-project > li .context {
  grid-row: 3;
}
.list-project > li .status {
  grid-row: 4;
}
.list-project > li .abstract {
  grid-row: 5;
}
.list-project > li .list-link {
  gap: 0.5em;
  grid-row: 6;
  grid-column: 1/3;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.list-project > li .list-link :is(img, svg) {
  height: 1.5em;
  width: 1.5em;
  -o-object-fit: contain;
     object-fit: contain;
}
.list-project > li .list-link > :is(:hover, :focus-within, :focus) {
  transform: scale(1.15);
  z-index: 1;
}
@media (prefers-reduced-motion: reduce) {
  .list-project > li .list-link > :is(:hover, :focus-within, :focus) {
    transform: none;
  }
}
.list-project > li:is(:hover, :focus-within, :focus) {
  /* sometimes the gradient is a little bit smaller than the image. origin border-box as a hack. */
  background: border-box linear-gradient(rgba(var(--color-accent-bg-rgb), 0.85), rgba(var(--color-accent-bg-rgb), 0.85)), padding-box var(--bg-img-project, rgb(var(--color-accent-bg-rgb))) no-repeat;
  background-size: cover;
}
.list-project > li:is(:hover, :focus-within, :focus) .list-rect > li {
  background-color: var(--color-lvl2);
}
.list-project > li:is(:hover, :focus-within, :focus) > :not(.list-rect) {
  color: white;
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
}
.list-project > li:is(:hover, :focus-within, :focus) .link {
  text-decoration: underline;
}
.list-project > li:not(:is(:hover, :focus-within, :focus)) .list-rect > li {
  color: white;
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-bg-rgb), 1);
}

.definition {
  /* sometimes the gradient is a little bit smaller than the image. origin border-box as a hack. */
  background: border-box linear-gradient(rgba(var(--color-lvl2-rgb), 0.9), rgba(var(--color-lvl2-rgb), 0.9)), padding-box var(--bg-img-definition, rgb(var(--color-lvl2-rgb))) no-repeat;
  background-size: cover;
  background-color: var(--color-lvl2);
  border-radius: 1em;
  display: grid;
  font-size: 0.8em;
  grid-template: 1fr 1fr auto/1fr auto;
  padding: 1em;
  position: relative;
}
.definition :is(img, svg) {
  height: 2.5lh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.definition .link,
.definition abbr {
  z-index: 1;
  /* Creates a stacking context */
  position: relative;
}
.definition > h4 a {
  text-decoration: none;
}
.definition > h4 a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.definition > :is(img, svg) {
  grid-row: 1/3;
  grid-column: 2;
}
.definition > p:nth-last-child(2) {
  grid-row: 2;
  grid-column: 1/3;
}
.definition > p:nth-last-child(1) {
  grid-row: 3;
  grid-column: 1/3;
}
.definition-tooltip {
  width: -moz-max-content;
  width: max-content;
  left: -1em;
  bottom: 110%;
  position: absolute;
}
.definition-tooltip:is(:hover, :focus-within, :focus), .definition-tooltip-trigger:is(:hover, :focus-within, :focus) ~ .definition-tooltip {
  opacity: 1;
  z-index: 2;
  transition-delay: 500ms;
}
.definition-tooltip-trigger:not(:is(:hover, :focus-within, :focus)) ~ .definition-tooltip:not(:is(:hover, :focus-within, :focus)) {
  transition-delay: 250ms;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
}

:has(> .definition-tooltip) {
  position: relative;
}

.definition-tooltip-trigger {
  cursor: pointer;
  font-style: italic;
}

main {
  margin: 0 min(2.5vw, 2.5lh);
}

#resultat-pour-moi ul {
  padding-left: 2em;
}

#titre {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

#presentation {
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  -moz-column-width: 60ch;
       column-width: 60ch;
}
#presentation p:first-child {
  margin-top: 0;
}
#presentation p:last-child {
  margin-bottom: 0;
}

#competences > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.5lh;
}
#competences > ul > li {
  /* sometimes the gradient is a little bit smaller than the image. origin border-box as a hack. */
  background: border-box linear-gradient(rgba(var(--color-lvl1-rgb), 0.9), rgba(var(--color-lvl1-rgb), 0.9)), padding-box var(--bg-img, rgb(var(--color-lvl1-rgb))) no-repeat;
  background-size: cover;
  padding: 1.5em;
  border-radius: 1.5em;
}

#resultat-pour-moi {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}
#resultat-pour-moi figure {
  border-radius: 1em;
}
#resultat-pour-moi figure img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#resultat-pour-moi article,
#resultat-pour-moi div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1lh;
}
#resultat-pour-moi li {
  max-width: 60ch;
}/*# sourceMappingURL=but-informatique.css.map */