@charset "UTF-8";
/* Emulates infinity. */
/* Hover state selector  */
/* Graphic element selector */
/* Golden ratio */
/* Horizontal margin of an element whose width spans over the entire viewport */
/* Vertical margin of an element whose width spans over the entire viewport */
/* Maximum length of a line of text */
/* Utilities
 * 
 * Increase stylesheet expressivity. May not be semantic.
 */
/* Super annotation
 *
 * An annotation as an exponent
 */
/* Shallow list item
 *
 * Display contents on children <li>, inherit layout properties.
 */
/* Gapped children
 *
 * Display flex, gap based on line height.
 */
/* Justify
 *
 * Justify and hyphenate. Replaces `text-align: justify`.
 */
/* Bring out element
 *
 * Scale the element.
 *
 * $factor: scale() argument -> scaling factor
 */
/* Basic border
 *
 * A basic border around the element. Color is foreground, .125 alpha.
 *
 * $width: border-width value -> border width
 */
/* Accent color foreground 
 *
 * Adapt the foreground to the accent color for better contrast.
 */
/* Accent color
 *
 * Set the background to the accent color and adapt the foreground color.
 *
 * $opacity: number [0..1] -> accent background color opacity
 */
/* Level 1 content
 *
 * Content spanning over the width of the entire viewport. One level of nesting inside the main element (direct child of the main element).
 *
 * $border-width: border-width value -> border width
 */
/* Absolue fill
 *
 * Position absolutely and fill all available space.
 */
/* Hover card 
 *
 * Position relatively. Represents an interactive card covered by an anchor.
 */
/* Hover card target
 *
 * The anchor element of an hover card.
 */
/* Transparent background image
 *
 * Define a transparent background image.
 *
 * $varname-img: <image>                  -> the background image.
 * $color-rgb:   rgb() or rgba() argument -> the backging color (also used as a fallback if $varname-img is not defined)
 * $opacity:     real [0..1]              -> the opacity of the image
 * $origin:      <visual-box>             -> origin of the background image layer
 *
 * As sometimes the gradient is a little bit smaller than the image, the origin of the color background layer is set to `border-box` as a workaround.
 *
 * Todo: fix background color transition. Currently: instant. Expected: transition-duration
 */
/* Absolute center
 *
 * Position absolutely and center in parent, horizontally and vertically.
 */
/* Horizontal box
 *
 * Appropriate padding and radius for an horizontal box.
 *
 * $padding-factor:       number -> padding multiplier
 * $border-radius-factor: number -> border radius multiplier
 */
/* Size graphics
 *
 * Size graphics children accordingly.
 *
 * $height:     height value     -> children graphics height
 * $width:      width value      -> children graphics width
 * $object-fit: object-fit value -> children graphics object-fit
 */
/* Gray when not hover 
 *
 * The element is grayed out when it is not hovered.
 */
.gray-when-not-hover:not(:is(:hover, :focus-within, :focus)) {
  filter: grayscale(100%);
  opacity: 0.5;
}

/* Components
 * 
 * Provide reusable components. Semantic.
 *
 * Definition of a component:
 *
 * - semantics over utilities
 * - name related to the content
 * - reusing requires a similar markup structure
 * - can be specialized in page stylesheets
 *
 * Mixin: use to reference the component from stylesheet
 * Class: use to reference the component from HTML with the default arguments (do not use @extend)
 */
/* Home nav link
 *
 * The link to the homepage in the navbar.
 */
/* Button link
 *
 * A link that looks like a button.
 */
.button-link {
  padding: 0.5lh 2ch;
  border-radius: 0.25lh;
  background-color: var(--color-lvl);
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.button-link:is(:hover, :focus-within, :focus) {
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-rgb), 1);
}
@media (prefers-reduced-motion: no-preference) {
  .button-link:is(:hover, :focus-within, :focus) {
    transform: scale(1.05);
  }
}
.button-link:is(:hover, :focus-within, :focus) :link {
  text-decoration: none;
}

/* Iconed text
 *
 * An element containing a graphic that is sized to the neighbouring text.
 */
.iconed-text :is(img, svg) {
  height: 1em;
  width: auto;
  margin-right: 0.5ch;
}
.iconed-text * {
  vertical-align: middle;
}

/* Flag list
 *
 * List of flags.
 */
.list-flags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

/* Theme switch control
 *
 * Set of theme switches.
 */
.theme-switches {
  display: flex;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
}
.theme-switches input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.theme-switches label {
  position: relative;
  padding: 0.25em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switches label:last-of-type {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.theme-switches label:first-of-type {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.theme-switches label:has(input:is(:hover, :focus-within, :focus)) {
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-rgb), 0.5);
}
.theme-switches label:has(input:checked) {
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-rgb), 1);
}
.theme-switches label + label {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
}
.theme-switches label input {
  cursor: pointer;
}

/* Rectangle list
 *
 * A list of small, (ideally) horizontal rectancgles
 */
.list-rect {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.list-rect > li {
  padding: 0.175lh 0.7ch;
  border-radius: 0.35lh;
  font-size: 0.9em;
}

/* Link list
 *
 * List of links
 */
.list-link {
  display: flex;
  list-style: none;
}

/* Project list
 *
 * A list of projects

 * Domain classes:
 * - logo: project logo graphic
 * - abstract: project abstract text
 * - context: project context text
 * - status: project status text
 */
.list-project {
  gap: 1em;
  display: flex;
  flex-flow: row wrap;
  /* Increase z-index to stand out above the card link */
}
.list-project :is(.list-link, .list-rect) > li {
  z-index: 1;
}
.list-project .link,
.list-project abbr {
  z-index: 1;
  /* Creates a stacking context */
  position: relative;
}
.list-project > li {
  position: relative;
  background: border-box linear-gradient(rgba(var(--color-lvl-rgb), 0.85), rgba(var(--color-lvl-rgb), 0.85)), padding-box var(--bg-img-project, rgb(var(--color-lvl-rgb))) no-repeat;
  background-size: cover;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  display: grid;
  grid-template: repeat(4, auto) 1fr min-content/1fr auto;
  row-gap: 0.75em;
  border-radius: 0.75em;
  padding: 0.75em;
  flex-basis: 20em;
  /* Required to clip the :before pseudo-element to the card's boundaries */
  overflow: hidden;
  /* Tag list */
}
.list-project > li .list-rect {
  grid-column: 1/3;
}
.list-project > li .list-rect > :is(:hover, :focus-within, :focus) {
  z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .list-project > li .list-rect > :is(:hover, :focus-within, :focus) {
    transform: scale(1.15);
  }
}
.list-project > li h3 > a {
  text-decoration: none;
}
.list-project > li h3 > a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.list-project > li .logo {
  grid-row: 2/6;
  grid-column: 2;
  height: 4lh;
  width: auto;
  max-width: 25ch;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto 0;
}
.list-project > li h3 {
  grid-row: 2;
  margin: 0;
}
.list-project > li .context {
  grid-row: 3;
}
.list-project > li .status {
  grid-row: 4;
}
.list-project > li .abstract {
  grid-row: 5;
  align-content: center;
}
.list-project > li .list-link {
  gap: 0.5em;
  grid-row: 6;
  grid-column: 1/3;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.list-project > li .list-link :is(img, svg) {
  height: 1.5em;
  width: 1.5em;
  -o-object-fit: contain;
     object-fit: contain;
}
.list-project > li .list-link > :is(:hover, :focus-within, :focus) {
  z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .list-project > li .list-link > :is(:hover, :focus-within, :focus) {
    transform: scale(1.15);
  }
}
.list-project > li:is(:hover, :focus-within, :focus) {
  /* Invert the colors: background in orange */
  background: border-box linear-gradient(rgba(var(--color-accent-rgb), 0.85), rgba(var(--color-accent-rgb), 0.85)), padding-box var(--bg-img-project, rgb(var(--color-accent-rgb))) no-repeat;
  background-size: cover;
  /* and ags in gray. */
  /* Adapt foreground to accent color (except tag list). */
  /* Since links will have the same color as other text now, always underline them to still differenciate them from regular text. */
}
.list-project > li:is(:hover, :focus-within, :focus) .list-rect > li {
  background-color: var(--color-lvl);
}
.list-project > li:is(:hover, :focus-within, :focus) :not(.list-rect) {
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
}
.list-project > li:is(:hover, :focus-within, :focus) .link {
  color: var(--color-fg);
  text-decoration: underline;
}
.list-project > li:not(:is(:hover, :focus-within, :focus)) .list-rect > li {
  --color-fg: white;
  --color-fg-rgb: 255, 255, 255;
  background-color: rgba(var(--color-accent-rgb), 1);
}

/* Definition
 *
 * An that explains a concept. Can be shown as a tooltip

 * Domain classes:
 * - definition-tooltip: tooltip form of the definition
 * - definition-tooltip-trigger: trigger of the definition tooltip form
 */
.definition {
  background: border-box linear-gradient(rgba(var(--color-lvl-rgb), 0.9), rgba(var(--color-lvl-rgb), 0.9)), padding-box var(--bg-img-definition, rgb(var(--color-lvl-rgb))) no-repeat;
  background-size: cover;
  background-color: var(--color-lvl);
  border-radius: 0.75em;
  row-gap: 0.75em;
  display: grid;
  font-size: 0.8em;
  grid-template: min-content min-content 1fr/1fr auto;
  padding: 0.75em;
  position: relative;
}
.definition :is(img, svg) {
  height: 2.5lh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.definition .link,
.definition abbr {
  z-index: 1;
  /* Creates a stacking context */
  position: relative;
}
.definition > h4 a {
  text-decoration: none;
}
.definition > h4 a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.definition > :is(img, svg) {
  grid-row: 1/3;
  grid-column: 2;
}
.definition > p:nth-last-child(2) {
  grid-row: 2;
  grid-column: 1/3;
}
.definition > p:nth-last-child(1) {
  grid-row: 3;
  grid-column: 1/3;
  align-content: center;
}
.definition-tooltip {
  width: -moz-max-content;
  width: max-content;
  left: -0.75em;
  bottom: 110%;
  position: absolute;
}
.definition-tooltip-trigger {
  cursor: pointer;
  font-style: italic;
}
.definition-tooltip:is(:hover, :focus-within, :focus), .definition-tooltip-trigger:is(:hover, :focus-within, :focus) ~ .definition-tooltip {
  opacity: 1;
  z-index: 2;
  transition-delay: 500ms;
}
.definition-tooltip-trigger:not(:is(:hover, :focus-within, :focus)) ~ .definition-tooltip:not(:is(:hover, :focus-within, :focus)) {
  transition-delay: 250ms;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
}

:has(> .definition-tooltip) {
  position: relative;
}

/* Content block
 *
 * A block containing a limited amount of content, defined by a singular purpose.
 */
.content-block {
  border-radius: 1.5em;
  background-color: var(--color-lvl);
  padding: 1.5em;
  align-self: center;
  max-width: 100%;
}
.content-block h2 {
  margin-bottom: 0.5em;
}

@property --bg-img {
  syntax: "*";
  inherits: false;
}
:root {
  background-color: var(--color-lvl);
  color: var(--color-fg);
  font-family: Roboto, system-ui;
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-color: gray transparent;
}

:root[data-theme=dark] {
  /* *-rgb: workaround until relative colors get widespread support */
  --color-accent: rgb(166, 97, 68);
  --color-accent-rgb: 166, 97, 68;
  --color-fg: rgb(238, 238, 238);
  --color-fg-rgb: 238, 238, 238;
  --color-lvl: rgb(17, 17, 17);
  --color-lvl-rgb: 17, 17, 17;
  --color-lvl-next: rgb(34, 34, 34);
  --color-lvl-next-rgb: 34, 34, 34;
}
:root[data-theme=dark] .lvl {
  --color-lvl: rgb(34, 34, 34);
  --color-lvl-rgb: 34, 34, 34;
  --color-lvl-next: rgb(51, 51, 51);
  --color-lvl-next-rgb: 51, 51, 51;
}
:root[data-theme=dark] .lvl .lvl {
  --color-lvl: rgb(51, 51, 51);
  --color-lvl-rgb: 51, 51, 51;
  --color-lvl-next: rgb(68, 68, 68);
  --color-lvl-next-rgb: 68, 68, 68;
}
:root[data-theme=dark] .lvl .lvl .lvl {
  --color-lvl-rgb: 68, 68, 68;
  --color-lvl: rgb(68, 68, 68);
}

:root[data-theme=light] {
  /* *-rgb: workaround until relative colors get widespread support */
  --color-accent: rgb(166, 97, 68);
  --color-accent-rgb: 166, 97, 68;
  --color-fg: rgb(17, 17, 17);
  --color-fg-rgb: 17, 17, 17;
  --color-lvl: rgb(238, 238, 238);
  --color-lvl-rgb: 238, 238, 238;
  --color-lvl-next: rgb(221, 221, 221);
  --color-lvl-next-rgb: 221, 221, 221;
}
:root[data-theme=light] .lvl {
  --color-lvl: rgb(221, 221, 221);
  --color-lvl-rgb: 221, 221, 221;
  --color-lvl-next: rgb(204, 204, 204);
  --color-lvl-next-rgb: 204, 204, 204;
}
:root[data-theme=light] .lvl .lvl {
  --color-lvl: rgb(204, 204, 204);
  --color-lvl-rgb: 204, 204, 204;
  --color-lvl-next: rgb(187, 187, 187);
  --color-lvl-next-rgb: 187, 187, 187;
}
:root[data-theme=light] .lvl .lvl .lvl {
  --color-lvl-rgb: 187, 187, 187;
  --color-lvl: rgb(187, 187, 187);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=system] {
    /* *-rgb: workaround until relative colors get widespread support */
    --color-accent: rgb(166, 97, 68);
    --color-accent-rgb: 166, 97, 68;
    --color-fg: rgb(238, 238, 238);
    --color-fg-rgb: 238, 238, 238;
    --color-lvl: rgb(17, 17, 17);
    --color-lvl-rgb: 17, 17, 17;
    --color-lvl-next: rgb(34, 34, 34);
    --color-lvl-next-rgb: 34, 34, 34;
  }
  :root[data-theme=system] .lvl {
    --color-lvl: rgb(34, 34, 34);
    --color-lvl-rgb: 34, 34, 34;
    --color-lvl-next: rgb(51, 51, 51);
    --color-lvl-next-rgb: 51, 51, 51;
  }
  :root[data-theme=system] .lvl .lvl {
    --color-lvl: rgb(51, 51, 51);
    --color-lvl-rgb: 51, 51, 51;
    --color-lvl-next: rgb(68, 68, 68);
    --color-lvl-next-rgb: 68, 68, 68;
  }
  :root[data-theme=system] .lvl .lvl .lvl {
    --color-lvl-rgb: 68, 68, 68;
    --color-lvl: rgb(68, 68, 68);
  }
}
@media (prefers-color-scheme: light) {
  :root[data-theme=system] {
    /* *-rgb: workaround until relative colors get widespread support */
    --color-accent: rgb(166, 97, 68);
    --color-accent-rgb: 166, 97, 68;
    --color-fg: rgb(17, 17, 17);
    --color-fg-rgb: 17, 17, 17;
    --color-lvl: rgb(238, 238, 238);
    --color-lvl-rgb: 238, 238, 238;
    --color-lvl-next: rgb(221, 221, 221);
    --color-lvl-next-rgb: 221, 221, 221;
  }
  :root[data-theme=system] .lvl {
    --color-lvl: rgb(221, 221, 221);
    --color-lvl-rgb: 221, 221, 221;
    --color-lvl-next: rgb(204, 204, 204);
    --color-lvl-next-rgb: 204, 204, 204;
  }
  :root[data-theme=system] .lvl .lvl {
    --color-lvl: rgb(204, 204, 204);
    --color-lvl-rgb: 204, 204, 204;
    --color-lvl-next: rgb(187, 187, 187);
    --color-lvl-next-rgb: 187, 187, 187;
  }
  :root[data-theme=system] .lvl .lvl .lvl {
    --color-lvl-rgb: 187, 187, 187;
    --color-lvl: rgb(187, 187, 187);
  }
}

/* Chromium issue: transitions stack (children wait for parents to finish their transition before doing their own) */
/* Solution: apply all transitions only to leaf elements. In non-leaf elements, transition only properties that are unrelated to the textual content */
* {
  box-sizing: border-box;
  transition-duration: 0.3333333333s;
  transition-property: background-color, background-attachment, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, -webkit-background-clip;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, -webkit-background-clip;
}

/* Leaf elements */
:not(:has(*)) {
  transition-property: background-color, background-attachment, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, color, fill, stroke, -webkit-background-clip, -webkit-text-decoration;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, color, text-decoration, fill, stroke;
  transition-property: background-color, background-attachment, background-clip, background-image, background-origin, background-position, background-repeat, background-size, transform, opacity, filter, color, text-decoration, fill, stroke, -webkit-background-clip, -webkit-text-decoration;
}

.fi {
  color: transparent;
}

body,
h1,
h2,
h3,
h4,
ul,
ol,
p,
figure,
input,
samp,
code,
kbd,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

blockquote {
  padding-left: calc(1em - 0.3090169944ch);
  margin-left: calc(min(1vw, 1em) - 0.3090169944ch);
  width: -moz-fit-content;
  width: fit-content;
  border-left: 0.6180339887ch solid var(--color-lvl);
}
blockquote footer {
  text-align: right;
}

:not(pre) > :is(code, samp, kbd) {
  background-color: var(--color-lvl);
  padding: 0.1lh 0.4ch;
  border-radius: 0.25lh;
}

pre {
  background-color: var(--color-lvl);
  padding: 0.5lh 2ch;
  border-radius: 0.25lh;
}

small {
  font-size: 1em;
  color: rgba(var(--color-fg-rgb), 0.5);
}

p {
  line-height: 3.125ex;
  max-width: 60ch;
}

.text p:first-of-type:not(:last-of-type),
p.text:first-of-type:not(:last-of-type) {
  text-indent: 2cap;
}

p.text {
  margin: 3.125ex 0;
}

.text p:not(:first-child) {
  margin-top: 3.125ex;
}
.text p:not(:last-child) {
  margin-bottom: 3.125ex;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  line-height: 2.380952381ex;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2.6315789474ex;
  margin-bottom: 1lh;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 2.7027027027ex;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 2.5lh;
  grid-template-rows: auto 1fr auto;
}
body > * {
  max-width: inherit;
}

a:not(:is(:hover, :focus-within, :focus)) {
  text-decoration: none;
}

a:not(.link, .fi) {
  color: inherit;
}

/* Opt-in basic style classes
 *
 * Define basic styles for common elements with explicit opt-in
 */
/* Link
 *
 * Intended for: <a>
 */
.link:link {
  color: #a66144;
}

.link:visited {
  color: #91553b;
}

.link:is(:hover, :focus-within, :focus) {
  color: #be7c60;
}

.link[target=_blank]:after {
  align-self: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 1px;
  text-indent: initial;
  unicode-bidi: isolate;
  vertical-align: text-top;
  content: "🡭";
  display: inline-block;
  font-size: 0.4em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Figure
 *
 * Intended for: <figure>
 */
.figure {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl);
  max-width: min(100%, 26em);
}
.figure > figcaption {
  padding: 0.625lh 2.5ch;
  border-radius: 0.3125lh;
  text-align: center;
}
.figure > :not(figcaption) {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Page structure */
body > header {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl);
  padding: 1em min(2.5vw, 2.5lh);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 1em;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
body > header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  -moz-column-gap: 3em;
       column-gap: 3em;
  row-gap: 1.5em;
}
body > header nav > a {
  font-size: 1.75em;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
}
body > header nav > ul {
  display: flex;
  list-style: none;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 1em;
  flex-wrap: wrap;
}
body > header nav > ul a {
  font-size: 1.25em;
}
body > header nav a[href="#"] {
  text-decoration: underline;
}
body > main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5lh;
}
body > footer {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(var(--color-fg-rgb), 0.125);
  background-color: var(--color-lvl);
  padding: 1em min(2.5vw, 2.5lh);
  grid-row: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 570px) {
  body > footer small {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media (prefers-reduced-motion: no-preference) {
  body > footer a > :is(img, svg):is(:hover, :focus-within, :focus) {
    transform: scale(1.15);
  }
}

:root {
  overflow-x: hidden;
  /* same as color accent */
}

/* Don't ask...*/
main * {
  box-sizing: content-box;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.ag-timeline_item {
  margin: 0 0 50px;
  position: relative;
}

.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.ag-timeline_line {
  width: 2px;
  background-color: var(--color-lvl-next);
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: var(--color-accent);
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid var(--color-accent);
  background-color: var(--color-lvl);
  text-align: center;
  font-size: 20px;
  color: var(--color-fg);
  border-radius: 50%;
  padding: 0.333em;
}

.js-ag-active .ag-timeline-card_point {
  color: var(--color-lvl);
  background-color: var(--color-accent);
}

.ag-timeline-card_meta-box {
  display: inline-block;
}

.ag-timeline-card_meta {
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 28px;
  color: var(--color-accent);
}

.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: var(--color-lvl);
  opacity: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, opacity 0.5s;
  position: relative;
  border-radius: 0.75em;
}
.ag-timeline-card_item img {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;
  transform: translateX(0);
}

.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: var(--color-lvl);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: -9px;
  margin-right: -9px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}

.ag-timeline-card_img {
  width: 100%;
}

.ag-timeline-card_info {
  padding: 20px 30px;
}

.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 28px;
  color: var(--color-accent);
}

.ag-timeline-card_desc {
  line-height: 3.125ex;
  color: var(--color-fg);
}

@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }
  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }
  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}
@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}/*# sourceMappingURL=history.css.map */