@use 'base';
@use 'const';
@use 'util';

section {
    @include util.strip-content(1px 0);
}

.list-piano-tiles {
    $tile-count: 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;

    > li {
        @include util.hover-card;
        @include util.wrap-anywhere;
        $min-width: 180px;
        flex-basis: calc(min(100%, 1920px) / $tile-count);
        flex-shrink: 1;
        min-width: $min-width;

        h2 {
            font-size: max(1.224em, 1.7vw);
        }

        a {
            @include util.hover-card-target;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        figcaption {
            @include util.absolute-fill;

            div {
                background-color: rgba(var(--color-lvl-rgb), calc(2/3));
                height: fit-content;

                > * {
                    @include util.horizontal-box(1, 0);
                }
            }
        }

        &#{const.$hover},
        &.hover {
            @include util.bring-out(1.05);
            z-index: 1;
        }

        &:not(&#{const.$hover}) figcaption {
            opacity: 0;
        }
    }
}

#me {
    @include util.text;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    > img {
        width: auto;
        height: 8em;
        border-radius: .5em;
        align-self: center;
    }
}

#ongoing-projects {
    @include util.heading-margins(2, 2);
    display: flex;
    flex-flow: column nowrap;

    h2 {
        text-align: center;
    }

    .button-link {
        margin-top: 2lh;
    }
}

#contact {
    @include util.text;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1lh;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: calc(1lh / 3);

        > li {
            width: fit-content
        }
    }

    > a {
        height: 100%;
        position: relative;

        img {
            min-height: 0;
            max-height: 12em;
            width: auto;
            opacity: .5;
            border-radius: .5em;
        }

        span {
            @include util.absolute-center;
            @include util.horizontal-box;
            width: max-content;
            background-color: var(--color-lvl);
        }

        &#{const.$hover} {
            @include util.bring-out(1.05);

            img {
                opacity: 1;
            }

            span {
                @include util.color-accent-bg;
            }
        }
    }
}