@use 'base';

main {
    gap: 3em;
    flex-direction: column;
}

h2 {
    min-width: max-content;
}

#search-bar {
    @include base.lvl1-content(1px 1px 1px 0);
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    min-width: calc(100% / base.$phi);
    width: min-content;
    max-width: 100%;
    border-radius: 0 1em 1em 0;
}

#search-input {
    max-width: 60ch;
    font-size: 75%;
    @include base.horizontal-box-padding(1, Infinity);
}

#list-tag,
#list-sorting {
    input {
        display: none;
    }

    > label {
        cursor: pointer;
        background-color: var(--color-lvl3);

        &:has(input#{base.$hover}) {
            @include base.color-accent(.5);
        }

        &:has(input:checked) {
            @include base.color-accent;
        }
    }
}

#list-sorting > * {
    border-radius: base.$huge-val;
}

#project-list {
    justify-content: center;
    margin: 0 2em;
}
