@use 'base';

/* Reset body gap and use padding instead of margin to suit background image */
body {
    gap: 0;
}

main {
    @include base.transparent-background-image(--bg-img, var(--color-lvl-rgb), .1);
    justify-content: space-between;
    padding: base.$full-width-vertical-margin base.$full-width-horizontal-margin;
}

section:is(:empty, :blank, :-moz-only-whitespace) {
    display: none;
}

a[id^="cite-"] {
    @extend .link;
    @include base.sup-annotation;
    white-space: nowrap;
    font-size: .6em;
}

#header {
    $gap: .75lh;
    display: grid;
    grid-template: repeat(4, auto) / auto auto;
    row-gap: $gap;

    h1 {
        margin: $gap 0;
        grid-row: 2;
    }

    .list-rect {
        grid-row: 1;
        grid-column: 1 / 3;

        > li {
            @include base.color-accent;

            &#{base.$hover} {
                @include base.bring-out(1.15);
                z-index: 1;
            }
        }
    }

    .logo {
        align-self: center;
        margin-left: auto;
        width: auto;

        @media screen and (min-width: 701px) {
            max-height: 100%;
            height: auto;
            grid-column: 2;
            grid-row: 1 / 6;
        }

        @media screen and (max-width: 700px) {
            grid-row: 2;
            height: 3lh;
        }
    }

    .abstract {
        grid-row: 3;
    }

    .status-context {
        grid-row: 4;
        display: flex;
        gap: min(5vh, 5em);
        align-items: baseline;

        small {
            display: inline-block;
        }
    }
}

.list-link {
    gap: 1em;
    flex-wrap: wrap;

    a {
        @include base.button-link(1.5);
        @include base.iconed-text(2);
        display: block;
    }
}

#story {
    &:has(:not(:only-child)) {
        @include base.justify;
        column-width: base.$max-line-length;
    }

    figure {
        max-width: base.$max-line-length;
    }
}

.list-reference {
    padding-left: 2em;

    .link {
        text-decoration: none;
        @include base.iconed-text($underline: true);
    }
}

.ref-backlink {
    vertical-align: top;
    user-select: none;
    font-size: .8em;
}

#technologies,
#team {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    > li {
        flex-shrink: 1;
        min-width: min-content;

        &#{base.$hover} {
            @include base.transparent-background-image(--bg-img-definition, var(--color-accent-rgb), .1);
            @include base.adapt-accent-bg;
        }
    }
}

#gallery {
    align-items: center;
    column-gap: 3em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: min(3vw, 3em);

    @include base.shallow-li {
        flex: 1;
        max-width: max-content;
        min-width: 25ch;
    }

    figure {
        display: flex;
        flex-flow: column;
    }

    iframe {
        background-color: white;
        width: fit-content;
        height: 100%;
        min-height: 13em;

        + figcaption {
            @include base.basic-border(1px 0 0 0);
        }
    }
}