@use 'base';

body {
    gap: 0;
}

main {
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 3em;
    @include base.transparent-background-image(--bg-img, var(--color-bg-rgb), .1);
}

.list-tag > li {
    @include base.color-accent();
}

#project-header {
    display: grid;
    grid-template: repeat(5, auto) / auto 1fr;
    gap: 1em;

    .list-tag {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    h2 {
        grid-row: 2;
        font-size: 42px;
    }

    .logo {
        margin-left: auto;
        height: 100%;
        width: auto;
        display: block;
        grid-column: 2;
        grid-row: 1 / 6;
    }

    .abstract {
        grid-row: 3;
    }

    .status-context {
        grid-row: 4;
        display: flex;
        gap: 5em;
        align-items: baseline;

        small {
            display: inline-block;
            font-size: 100%;
        }
    }
}

#story {
    @media screen and (min-width: 120ch) {
        columns: 2;
    }

    text-align: justify;

    figure {
        max-width: 60ch;
    }

    p:not(:first-child) {
        margin-top: .5lh;
    }

    p:not(:last-child) {
        margin-bottom: .5lh;
    }
}

#technologies,
.list-anchor {
    @include base.basic-border(1px);
    @include base.horizontal-box-padding;
    background-color: var(--color-lvl1);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    $gap: .5em;
    gap: $gap;
    @include base.size-images(3.5em, 3.5em);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: stretch;

    figure {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    iframe {
        background-color: white;
        width: fit-content;
        height: 100%;
        min-height: 13em;

        + figcaption {
            @include base.basic-border(1px 0 0 0);
        }
    }
}