@use 'base';

#search-bar {
    @include base.lvl1-content(1px 1px 1px 0);
    @include base.gapped;
    min-width: calc(100% / base.$phi);
    width: min-content;
    max-width: 100%;
    border-radius: 0 1em 1em 0;

    h1 {
        margin: .5lh 0;
    }

    #search-input {
        max-width: base.$max-line-length;
        font-size: .8em;
        @include base.horizontal-box(1, Infinity);
    }
}

#list-tag,
#list-sorting {
    @include base.shallow-li;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        background-color: var(--color-lvl-next);

        &:has(input#{base.$hover}) {
            @include base.color-accent(.5);
        }

        &:has(input:checked) {
            @include base.color-accent;
        }
    }
}

#list-sorting > li {
    @include base.horizontal-box(1, Infinity);
    
}

#project-list {
    margin: 0 base.$full-width-horizontal-margin;
}