@use 'const';
@use 'util';

#search-bar {
    @include util.strip-content(1px 1px 1px 0);
    @include util.heading-margins(1, 3);
    max-width: min(50em, 95%);
    border-radius: 0 1em 1em 0;

    #search-input {
        width: min(100%, const.$max-line-length);
        font-size: .9em;
        @include util.horizontal-box(2, Infinity);
        @include util.basic-border(1px);
    }

    section {
        @include util.margin-gap(2lh);
    }
}

#list-tag,
#list-sorting {
    input {
        display: none;
    }

    label {
        cursor: pointer;
        background-color: var(--color-lvl-next);

        &:has(input#{const.$hover}) {
            @include util.color-accent-bg(.5);
        }

        &:has(input:checked) {
            @include util.color-accent-bg;
        }
    }
}

#list-sorting > li {
    @include util.horizontal-box(1, Infinity);
}

#project-list {
    margin: 0 const.$full-width-horizontal-margin;
}