---
import BaseLayout from '../../layouts/BaseLayout.astro';

import '../../styles/projects.scss';

type Copy = {
    projectSearchSearch: string;
    projectSearchPlaceholder: string;
    projectSearchTags: string;
    projectSearchSort: string;
};

type Props = {
    copy: Copy;
};

const props: Props = Astro.props;
const { copy } = props;

---

<BaseLayout
    pageName='projects'>
    <main>
        <datalist id='project-titles'>
            <!-- Fill this up dynamically -->
        </datalist>
        <section class='lvl' id='search-bar'>
            <h1>{copy.projectSearchSearch}</h1>
            <input
                incremental
                type='search'
                id='search-input'
                placeholder={copy.projectSearchPlaceholder}
                autocomplete='on'
                list='project-titles'
            />
            <section>
                <h3>{copy.projectSearchTags}</h3>
                <ul class='lvl list-rect' id='list-tag'>
                    <!-- Tags will be added here -->
                </ul>
            </section>
            <section>
                <h3>{copy.projectSearchSort}</h3>
                <ul class='lvl list-rect' id='list-sorting'>
                    <li>
                        <label for='sort-asc'
                            >A-Z<input type='radio' name='sorting' id='sort-asc' value='asc' checked /></label
                        >
                    </li>
                    <li>
                        <label for='sort-desc'
                            >Z-A<input type='radio' name='sorting' id='sort-desc' value='desc' /></label
                        >
                    </li>
                </ul>
            </section>
        </section>
        <ul class='lvl list-project' id='project-list'>
            <!-- Project list will be updated here -->
        </ul>
    </main>
    <script src='../../scripts/projects.ts'></script>
</BaseLayout>
