---
import type { LocalizedItem } from '../content/config';
import DefinitionCard from './DefinitionCard.astro';

interface Props {
    definitions: LocalizedItem<'definitions'>[];
    langLabels: {
        fmtTitle: string;
    };
}
const { definitions, langLabels } = Astro.props;
---

<ul class='lvl list-definition'>
    {
        definitions.map(definition => (
            <li>
                <DefinitionCard definition={definition} langLabels={langLabels} />
            </li>
        ))
    }
</ul>
